.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}
.card {
    font-size: 50px;
}
.card-text {
    font-size: 50px;
}
.projects{
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}
